:root {
    --main-bg-color: #1e2439; 
    --menu-item-color: #95d5b7;
    --name-title-color: #d9bb98;
    --link-active-color: #8bc6aa;
    --link-color:  #4974a5; 
    --link-visited-color: #7a49a5;
}


body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif; 
}

#menu {
    background-color: var(--main-bg-color);
    font-family: 'Bitter', sans-serif;
    /* margin-left: 10%; */
    width: 30%;
    min-height: 100vh; /* adjust as needed */
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 230px; /* adjust as needed */
    padding-top: 20px; /* adjust as needed */
    padding: 0 20px; /* add some padding on the sides */
}


#fixed-elements {
    position: sticky;
    top: 0; /* This will make the element stick to the top of the #menu */
    width: 100%; /* This should match the width of the #menu element */
    display: flex;
    flex-direction: column;
    align-items: center;
}



#menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

#menu ul li a {
    color: var(--menu-item-color);
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em; /* Adjust this to make the font larger or smaller */
    font-weight: bold; /* Add this line */
}

#menu ul li a:hover {
    text-shadow: 0.03em 0.1em 0.2em var(--name-title-color); /* Add a shadow to the text when hovered over */
}

#profile-pic {
    border-radius: 50%;
    width: 50%;
    padding-top: 30%;
    margin-bottom: 20px;
    margin-top: -20%;
    /* border: 5px solid #6196CF; Add a border 
    box-shadow: 0px 0px 10px #6196CF;  Add a shadow for a 3D effect */
}


#name {
    font-family: 'Bitter', sans-serif;
    font-size: 1.8em; /* adjust as needed */
    color: var(--name-title-color); 
    margin: 0;
}

#job-title {
    font-family: 'Bitter', sans-serif;
    font-size: 1.1em; /* adjust as needed */
    color: var(--name-title-color); 
    margin: 0;
}


#content {
    width: 100%;
    /* margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%; */
    padding: 5%;
    text-align: justify;
    font-size: 1.1em;
}

#content a {
    color: var(--link-color); /* Change the color of the link */
    text-decoration: none; /* Remove the underline */
    transition: color 0.2s ease; /* Add a transition effect when the color changes */
}

#content a:visited {
    color: var(--link-visited-color); /* Change the color of the link after it has been visited */
}

#content a:hover {
    color: var(--link-active-color); /* Change the color of the link when hovered or clicked */
}

#content a:active {
    color: #fff; /* Change the color of the link when hovered or clicked */
    text-shadow: 0.00em 0.0em 0.2em #000; /* Add a shadow to the text when hovered over */
}

/* #content p {
    text-align: justify;
} */



