
:root {
    --ads-button-color: azure;
    --ads-button-border-color: navy;
}


.header-container {
    display: flex;
    align-items: center;
}

.all-publications-button {
    font-size: 1.5em; 
    margin-left: 20px; 
    border: 2px solid var(--ads-button-border-color); 
    padding: 5px; 
    border-radius: 10px; 
    background-color: var(--ads-button-color);
    font-weight: bold;
}

.all-publications-button img {
    width: 1em; 
    height: auto;
}

.all-publications-button a {
    font-family: 'Roboto', sans-serif;
}


#projects-wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    object-fit: cover; 
    filter: blur(0px) contrast(40%) brightness(190%) opacity(29%);  
}
